.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* cambia de center a flex-start */
  align-items: center;
  background-color: #f9fafb;
  color: #333;
  padding: 60px 20px 20px; /* padding superior para dar espacio */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.home-content {
  max-width: 600px;
  background-color: #ffffff; /* blanco puro */
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.07);
  border: 1px solid #ddd; /* borde gris claro */
}

.home-title {
  font-size: 3.5rem;
  margin-bottom: 0.2em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #2c3e50; /* azul oscuro del contenedor */
}

.home-subtitle {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 500;
  color: #576574; /* gris azulado */
}

.home-description {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #4b5258;
}

.start-button {
  display: inline-block;
  background-color: #059669;
  color: white;
  padding: 14px 36px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(35, 145, 83, 0.4);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.start-button:hover {
  background-color: #0dc389;
  box-shadow: 0px 8px 20px rgba(35, 145, 83, 0.4);
  color: #fff;
}

.home-footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #888c91; /* gris claro */
}
